@import "../../styles/app.scss";

.HomePage {
  height: 100vw;

  &__headline {
    a {       
      text-decoration: none;
      
      &:visited {
        text-decoration: none;
        color: map-get($colors, "white");
      }
      
      &:active {
        text-decoration: none;
        color: map-get($colors, "white");
      }
      
      &:hover {
        text-decoration: none;
        color: map-get($colors, "white");
      }
      }
  }

  &__desktop-socials-container {
    right: 2rem;
    bottom: 2rem;
  }

  &__arrow-container-container {
    transition: transform 2s cubic-bezier(0.25, 0.2, 0, 1);

    &--show-nav {
      left: 17rem;
      transition: left 2s cubic-bezier(0.25, 0.2, 0, 1);
    }

    &--hide-nav {
      left: 2rem;
      transition: left 2s cubic-bezier(0.25, 0.2, 0, 1);
    }
  }

  &__arrow-container {
    transition: transform 2s cubic-bezier(0.25, 0.2, 0, 1);

    svg {
      height: 3rem;
      width: 3rem;
      fill: map-get($colors, "black");
    }

     &--arrow-rotated {
      transform: rotate(540deg);
      transition: transform 2s cubic-bezier(0.25, 0.2, 0, 1);
    }

    &--arrow-not-rotated {
      transform: rotate(0deg);
      transition: transform 2s cubic-bezier(0.25, 0.2, 0, 1); 
    }
  }

  &__nav-container {
    display: block;
    position: absolute;
    z-index: 1;
    width: 16rem;
    top: 0;
    transition: transform 2s cubic-bezier(0.25, 0.2, 0, 1);

    &--hide {
      transform: translateX(-18rem);
      cursor: pointer;
    }
    
    &--show {
      transform: translateX(-2rem);
    }
  }

  &__desktop-button-container {
    bottom: 2rem;
    right: 50%;
    transform: translateX(50%);
  }
}
