@import "../../styles/app.scss";

.HomePage {
  height: 100vw;

  &__headline {
    font-size: 1.35rem;
    
    @media (min-width: 1100px) {
      font-size: 2rem;
    }

    a {       
      text-decoration: none;
      
      &:visited {
        text-decoration: none;
        color: map-get($colors, "white");
      }
      
      &:active {
        text-decoration: none;
        color: map-get($colors, "white");
      }
      
      &:hover {
        text-decoration: none;
        color: map-get($colors, "white");
      }
    }
  }

  &__band-name {

    text-decoration: none;
    
    &:visited {
      text-decoration: none;
      color: map-get($colors, "white");
    }
    
    &:active {
      text-decoration: none;
      color: map-get($colors, "white");
    }
    
    &:hover {
      text-decoration: none;
      color: map-get($colors, "white");
    }

  }

  &__container {
    flex-direction: column;
    justify-content: space-between;
    max-width: 900px;
    align-items: center;
    margin: 0 auto;
    
    @media (min-width: 1100px) {
      margin: 0 auto;
      max-width: auto;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
    }

    &--left {

    }

    &--right {

    }

  }

  &__band-image {
    max-width: 600px;
    margin: 0 auto;
    height: 40%;
  }

  &__desktop-socials-container {
    right: 0.5rem;
    top: 0.5rem;
    position: fixed;
    
    @media (min-width: 1100px) {
      right: 2rem;
      top: 2rem;
      position: fixed;
    }
  }

  &__arrow-container-container {
    top: 0;
    transition: transform 2s cubic-bezier(0.25, 0.2, 0, 1);

    &--show-nav {
      left: 17rem;
      transition: left 2s cubic-bezier(0.25, 0.2, 0, 1);
    }

    &--hide-nav {
      left: 2rem;
      transition: left 2s cubic-bezier(0.25, 0.2, 0, 1);
    }
  }

  &__hamburger-icon {

    top: 2rem;
    left: 2rem;
    cursor: pointer;

    svg {
      height: 2rem;
      width: 2rem;
      fill: map-get($colors, "white");
    }
  }

  &__arrow-container {
    transition: transform 2s cubic-bezier(0.25, 0.2, 0, 1);

    svg {
      height: 3rem;
      width: 3rem;
      fill: map-get($colors, "white");
    }

     &--arrow-rotated {
      transform: rotate(540deg);
      transition: transform 2s cubic-bezier(0.25, 0.2, 0, 1);
    }

    &--arrow-not-rotated {
      transform: rotate(0deg);
      transition: transform 2s cubic-bezier(0.25, 0.2, 0, 1); 
    }
  }

  &__nav-container {
    display: block;
    position: absolute;
    z-index: 1;
    width: 16rem;
    top: 0;
    transition: transform 2s cubic-bezier(0.25, 0.2, 0, 1);

    &--hide {
      transform: translateX(-18rem);
      cursor: pointer;
    }
    
    &--show {
      transform: translateX(-2rem);
      position: fixed;
    }
  }

  &__desktop-button-container {
    bottom: 2rem;
    right: 50%;
    transform: translateX(50%);
  }
}
