@import "../../styles/app.scss";

.Button {
  &__link {
    border: 3px solid map-get($colors, "black");
    color: map-get($colors, "black");
    text-decoration: none;
    display: block;
    width: 15rem;
  }
}
